@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*buscar de tablas*/

.dataTable-top,
.dataTable-bottom{
    padding:20px 10px;
    margin-left: 20%;

}

/*texto izquierda*/
.dataTable-top > div:first-child,
.dataTable-bottom > div:first-child{
    float:left;
     margin-left: 90px;
     font-size: 10px;
   
}

/*POSICIÓN BUSCAR*/
.dataTable-top > div:last-child,
.dataTable-bottom > div:last-child{
    margin-right: 40%;
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
  
   
}

/*Selector*/
.dataTable-selector{
    padding:6px;
    border-radius: 10px;
}
.dataTable-selector:focus{
    border-color:#87c770;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgba(67, 219, 125, 20%);

}
/*casilla buscar*/
.dataTable-input{
    width: 100%;
    height: 30px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;

}
.dataTable-input::placeholder {
    color: #9e9ea7;
   }
   
   .dataTable-input:focus, .dataTable-input:hover {
    outline: none;
    border-color:#87c770;
    background-color: #fff;
    box-shadow: 0 0 0 6px rgba(67, 219, 125, 20%);
   }
   
   /*parte de abajo*/
.dataTable-info{
    margin:2px 0;
 
}


/*filters titulos*/
.dataTable-sorter{
    display:inline-block;
    height:100%;
    position:relative;
    width:100%;
 
}
/*flechitas filtros titulo*/
.dataTable-sorter::before,
.dataTable-sorter::after{
    content:"";
    height:0;
    width:0;
    position:absolute;
    right:4px;
    border-left:4px solid transparent;
    border-right:4px solid transparent;
    opacity:0;

}

.dataTable-sorter::before{
    border-top:4px solid #000;
    bottom:2px
}

.dataTable-sorter::after{
    border-bottom:4px solid #000;
    border-top:4px solid transparent;
    top:-2px
}

.asc .dataTable-sorter::after,
.desc .dataTable-sorter::before{
    opacity:.6
}


.dataTable-top::after,
.dataTable-bottom::after{
    clear:both;
    content:" ";
    display:table
}

.tituloPrograma{
    margin-left: 40%;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 3px;
    position: relative;
    display: flex;
    align-items: center;
    color: #3c3c3c;
    
}


/*Resize the wrap to see the search bar change!*/

table.miyazaki {
    display: block;
    margin-left: 20%;
    max-height: 330px;
    max-width:50%;
    border-collapse: collapse;
    color: #ffffff;
    border-radius: 20px;
    overflow-y:scroll;

}
table.miyazaki::-webkit-scrollbar{
    width: 5px;
    position: absolute;
}
table.miyazaki::-webkit-scrollbar-thumb{
    background: #a7a7a7;
    border-radius: 50px;
}

table.miyazaki thead th {

    letter-spacing: 4px;
    font-weight: 600;
    position:sticky;
    background: #87c770;
    font-size: 13px;
    padding: 10px 63px 05px 35px ;
    
 
}

table.miyazaki tbody td {
    padding: 1em 1em 1em 1rem;
    font-size: 10px;
    font-weight: 500;
    font-display:inherit;
    color: #0a0808;
    background: #fff;
    border: 1px solid rgb(143, 143, 143);
    
}

table.miyazaki tbody tr:not(:last-child) {
   
    border-bottom: 1px solid #969595;
}



/*button*/

table.miyazaki tbody td .button1{
    font-size: 7px;
    position: relative;
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    background: #87c770;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  }
  
  .button1:active {
    transform: scale(0.95);
  }
        
  .button1 span {
    font-weight: 500;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 2px;
  }
        
  .button1 .border {
    position: absolute;
    border: 0.20em solid #6bdb42;
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 8.5em;
    height: 3.5em;
    transform: translate(-50%, -50%);
  }
        
  .button1:hover .border {
    display: block;
    width: 10.0em;
    height: 3.8em;
  }
        
  .full-rounded {
    border-radius: 2em;
  } 
  
  
  /*button2*/
  table.miyazaki tbody td .button2{
    font-size: 7px;
    position: relative;
    margin: 0;
    padding: 1em 0.5em 1em 0.5em;
    border: none;
    background: #ff7575;
    transition: all 0.1s linear;
    box-shadow: 0 0.4em 1em rgba(0, 0, 0, 0.1);
  }
  .button2:active {
              transform: scale(0.95);
  }  
            
  .button2 span {
              font-weight: 500;
              color: #ffffff;
              font-size: 8px;
              letter-spacing: 1.5px;
  }
            
  .button2 .border {
              position: absolute;
              border: 0.20em solid #df0b0b;
              transition: all 0.3s 0.08s linear;
              top: 50%;
              left: 50%;
              width: 7.5em;
              height: 3.5em;
              transform: translate(-50%, -50%);
  }
            
  .button2:hover .border {
              display: block;
              width: 9.7em;
              height: 3.8em;
  }
            
  .full-rounded {
              border-radius: 2em;
  } 
  
  
            /*EDIT BUTTON */
  .Btn {
    left: 25%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 55px;
    border: none;
    padding: 0px 5px;
    color: white;
    background-color: rgba(241, 132, 48, 0.58);
    font-weight: 500;
    height: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(49, 114, 119);
    transition-duration: .3s;
    font-size: 9px;
    letter-spacing: 3px;
  }
            
  .svg {
    width: 10px;
    position: absolute;
    right: 0;
    margin-right: 1px;
    fill: rgb(255, 255, 255);
    transition-duration: .3s;
  }
            
  .Btn:hover {
    color: transparent;
  }
  
 
            
  .Btn .a{
    color: #fff;
  }
  .Btn .a:hover {
    color: transparent;
  }
  .Btn:hover svg {
    margin: 0;
    padding: 0;
    border: none;
    transition-duration: .3s;
    color: transparent;
    right: 40%;
  }
            
  .Btn:active {
    transition-duration: .3s;
    box-shadow: 2px 2px 0px rgb(10, 9, 10);
    transform: translate(3px , 3px);
  }
  

/*Emergente*/

.botonespace{
    position: absolute;
    left: 80%;
    bottom: 75%;
    float:right;
    }
    
    .button {
      position: relative;
        width: 150px;
        font-weight: bold;
        background: #87c770;
        color: white;
        padding-block: 15px;
        border-radius: 8px;
        box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
        border: none;
        cursor: pointer;
    }

.bg-modal {
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;
}

.container {
    background-color: black;
    flex-direction: column;
    display: flex;
    gap: 15px;
    float: right;
    max-width: 370px;
    background: #3b55bbe0;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(246, 250, 253) 100%);
    border-radius: 40px;
    padding: 35px;
    border: 5px solid rgb(252, 248, 248);
    box-shadow: rgba(113, 202, 140, 0.878) 0px 30px 30px -20px;
  
    position: absolute;
}

.close {
    position: absolute;
    top: 5px;
    right: 19px;
    font-size: 25px;
    transform: rotate(45deg);
    cursor: pointer;
}

form label {
    position: absolute;
}

form {
    margin-top: 20px;
}

.heading {
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    color: #87c770;
}

.flex {
    width: 100%;
}

.form .input {
    width: 118%;
    background: rgb(255, 255, 255);
    border: none;
    padding: 15px 20px;
    outline: 0;
    border-radius: 10px;
    box-shadow: #5eca76 0px 10px 10px -5px;
    border: 0.1px solid rgba(223, 222, 222, 0.397);
}

.form label .input+span {
    color: #000;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 12.5px;
    font-size: 0.9em;
}

.input {
    font-size: medium;
}

.form label .input:focus+span,
.form label .input:valid+span {
    color: #87c770;
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

.holder {
    font-size: 0.9em;
    width: 100%;
    background: rgb(255, 255, 255);
    border: none;
    padding: 15px 10px;
    border-radius: 10px;
    margin-top: 80px;
    box-shadow: #5eca76 0px 10px 10px -5px;
    border-inline: 2px solid transparent;
    border: 0.1px solid rgba(223, 222, 222, 0.397);
}

.holder:focus {
    outline: none;
    border-inline: 3px solid #5eca76;
}

.form .input:focus {
    outline: none;
    border-inline: 3px solid #5eca76;
}

.form .login-button {
    padding-top: 20px;
    letter-spacing: 0.3rem;
    display: block;
    width: 98%;
    font-weight: bold;
    background: #87c770;
    color: white;
    padding-block: 15px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
    border: none;
}

.form .login-button:hover {
    transform: scale(1.06);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
}

.form .login-button:active {
    transform: scale(0.95);
    box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}

@media screen and (max-width: 600px) {
    table.miyazaki caption {
        background-image: none;
    }
    table.miyazaki thead {
        display: none;
    }
    table.miyazaki tbody td {
        display: block;
        padding: .2rem;
    }
    table.miyazaki tbody tr td:first-child {
        background: #444444;
        color: #fff;
    }
    table.miyazaki tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 3rem;
    }
}