<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/programa.css}">
        <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css}" />
       
    
        <title>Registrar Descargos .:. SIGCE</title>
    </head>
<body>
    <div th:replace="fragmentos/headerAprendiz"></div>  

    <h1>Descargos</h1>
</body>
</html>