<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/aprendiz.css}">
</head>

<body>
<div class="botonespace">
    <button class="button" id="button">Registrar Aprendiz</a></button>
</div>
<div class="Container-modal">

    <form class="form" method="post" onsubmit="convertirMayusculas()" th:action="@{/Aprendiz/registrarAprendices}">
        <div class="closeB">+</div>
        <p class="title">Registrar Aprendiz</p>
        <!-- Nombre -->
        <div class="flex">
            <label>
                <input class="input" id="nombre_Apr" name="nombre_Apr" required="" type="text">
                <span>Nombre</span>
            </label>

            <label>
                <input class="input" id="apellido_Apr" name="apellido_Apr" required="" type="text-email">
                <span>Apellido</span>
            </label>
        </div>
        <div class="flex">
            <select class="doc" id="state " name="tipoIde_Apr">
                <option>Tipo de Documento</option>

                <option alue="TI" class="option">TI</option>
                <option class="option" value="CC">CC</option>
                <option alue="CE" class="option">CE</option>
            </select>

            <label>
                <input class="input" name="identificacion_Apr" required="" type="text-email">
                <span>Número de Documento</span>
            </label>

        </div>

        <label>
            <input class="input" name="correo_Apr" required="" type="email">
            <span>Correo electrónico</span>
        </label>
        <div class="flex">
            <select class="doc" id="state" name="ficha.id_Fic">
                <option>Número de ficha</option>
                <option class="option" th:each="ficha : ${ficha}" th:text="${ficha.id_Fic}" th:value="${ficha.id_Fic}">
                    2687351
                </option>
            </select>
            <label>
                <input class="input" name="password_Apr" placeholder="" required="" type="password">
                <span>Contraseña</span>
            </label>
        </div>
        <input name="estado.id_Est" type="hidden" value="1">
        <button class="submit">Registrar</button>

    </form>
    <div class="colorlibcopy-agile">

    </div>


    <script th:src="@{/js/aprendiz.js}"></script>
    <script th:src="@{/js/ficha.js}"></script>
    </body>
</html>